@model OrderDto


@{
    ViewData["Title"] = "Color";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="hidden" id="prgoressBarStep" name="step" value="color">
<div id="progressBar"></div>



<div class="container mb-5">
    <div class="row">
        <div class="col-lg-6">
            <div class="material-image">
                <img src="~/Images/Materials/@Model.Material.ImageName" alt="Alternate Text" />
            </div>
        </div>
        <div class="col-lg-6">
            <div class="material">
                <div class="material-name">
                    <h3>
                        @Model.Material.Name
                    </h3>
                </div>
                <hr />
                <div class="material-price">
                    <p>
                        <span>
                            Starting at:
                        </span>
                        <span class="material-price">
                            <b>
                                $@Model.Material.Cost
                            </b>
                        </span>
                    </p>
                </div>
                <div class="material-description">
                    <p>
                        @Model.Material.Description
                    </p>
                </div>
                <div class="material-structure">
                    <p>
                        <span><b>Material: </b></span>
                        @Model.Material.FabricStructure
                    </p>
                </div>
                <div class="material-instructions">
                    <p>
                        <span><b>Care instructions: </b></span>
                        @Model.Material.CareInstructions
                    </p>
                </div>
                <div class="material-colors">
                    <p>
                        <span>Select a color to continue designing your curtain or order up to 5 free swatches.</span>
                        <div class="d-flex">
                            @foreach (var color in Model.Material.Colors)
                            {
                                <button class="color" id="@color.Id" style="background-image=url(~/Images/Colors/@color.ImageName)">
                                </button>
                            }
                        </div>
                    </p>
                </div>
                <form asp-action="Size">
                    <input type="hidden" name="MaterialId" value="@Model.Material.Id" />
                    <input type="hidden" name="ColorId" id="ColorId"/>
                    <input type="hidden" name="StyleId" value="@Model.StyleId" />
                    <input class="selectButton" type="submit" name="submit" value="Select & Continue" />
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/js/colorHandler.js"></script>